<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="useSigFilter" value="true" />
		<add key="sigFilterExtra" value="benign,not-provided" />
		<add key="reuseDbFiles" value="true" />
		<add key="checkForUpdates" value="true" />
		<add key="genomeFileName" value="genome.txt" />
	</appSettings>
</configuration>